<div class="row animated fadeIn fast mt-3" *ngIf="recetas.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
        No existen resultados con el término: {{ termino }}
        </div>
    </div>
</div>
<div class="container cont-lista-recetas">
  <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card-columns">
            <div class="card animated fadeIn fast" *ngFor="let receta of recetas">
                <img class="card-img-top img-fluid" [src]="receta.thumbnail" [alt]="receta.title">
                <div class="card-body">
                  <h4 class="card-title">{{receta.title}}</h4>
                  <small class="text-muted">Ingredientes: </small>
                  <p class="card-text">{{receta.ingredients}}</p>
                  <a href="{{receta.href}}" class="badge badge-info">Ver Receta</a>
                </div>
            </div>
        </div>
      </div>
    
  </div>
</div>